extends ../layout
block content
	.container
		.row
			//- 遍历movies数组
			each item in movies
				.col-md-2
					.thumbnail
						a(href="/movie/#{item._id}")
							img(src="#{item.poster}",alt="#{item.title}")
						.caption.text-center
							h5 #{item.title}
							p:a.btn.btn-primary(href="/movie/#{item._id}",role="button")
								观看预告片